{% extends "web/partials/base.html" %}
{% load static %}
{% block content %}
    
    <!-- breadcrumb start -->
    <div class="breadcrumb-area bg-overlay" style="background-image:url('{% static 'web/img/bg/3.png'%}')">
        <div class="container">
            <div class="breadcrumb-inner">
                <div class="section-title mb-0 text-center">
                    <h2 class="page-title">Blog Details</h2>
                    <ul class="page-list">
                        <li><a href="index.html">Home</a></li>
                        <li>Blog Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- blog area start -->
    <div class="blog-area pd-top-120 pd-bottom-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-details-page-content">
                        <div class="single-blog-inner">
                            <div class="thumb">
                                <img src="{{blog.image.url}}" alt="img" style="width:100%;">
                            </div>
                            <div class="details">
                                <ul class="blog-meta">
                                    <li><i class="fa fa-user"></i> {{blog.course_name}}</li>
                                    <li><i class="fa fa-calendar-check-o"></i>{{blog.date_created}}</li>
                                </ul>
                                <h3 class="title">{{blog.topic}}</h3>
                                <p>{{blog.subject}}</p>
                                <blockquote>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam. 
                                    <h6 class="mb-0 mt-2">Marilyn Gilbert</h6>
                                </blockquote>
                                <p>labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam</p>
                                <div class="thumb mb-4">
                                    {% if your_model_instance.image2 %}
                                        <img src="{{ your_model_instance.blog.image2.url }}" alt="Image 2" style="width:100%;">
                                    {% else %}
                                        <p>);</p>
                                    {% endif %}
                                    
                                </div>
                                <h5>AMC Entertainment sparks calls for scrutiny</h5>
                                <p>labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam</p>
                                <ul class="single-list-wrap">
                                    <li class="single-list-inner style-check">
                                        <i class="fa fa-check"></i>  Stet clita kasd gubergren, no sea takimata sanctus
                                    </li>
                                    <li class="single-list-inner style-check">
                                        <i class="fa fa-check"></i> Ligula cur maecenas no sea takimata
                                    </li>
                                    <li class="single-list-inner style-check">
                                        <i class="fa fa-check"></i> Fringilla nulla maecenas
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tag-and-share">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6>Related Tags :</h6>
                                    <div class="tags">
                                        <a href="#">Treands, </a>
                                        <a href="#">Inttero, </a>
                                        <a href="#">Estario</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-sm-right">
                                    <div class="blog-share">
                                        <h6>Share :</h6>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <div class="blog-comment">
                            <div class="section-title style-small">
                                <h3>Comments</h3>
                            </div>
                            <div class="media">
                                <a href="#">
                                    <img src="{% static 'web/img/team/1.png'%}" alt="comment">
                                </a>
                                <div class="media-body">
                                    <h5>
                                        <a href="#">Aaron Holmes</a>
                                        <span class="date">25 July 2020</span>
                                    </h5>
                                    <p>Proin ac quam et lectus vestibulum blandit. Nunc maximus nibh at placerat tincidunt. Nam sem lacus, ornare non ante sed, ultricies</p>
                                    <a href="#">REPLY</a>
                                </div>
                            </div>
                            <div class="media nesting">
                                <a href="#">
                                    <img src="{% static 'web/img/team/2.png'%}" alt="comment">
                                </a>
                                <div class="media-body">
                                    <h5>
                                        <a href="#">Aaron Holmes</a>
                                        <span class="date">25 July 2020</span>
                                    </h5>
                                    <p>Proin ac quam et lectus vestibulum blandit. Nunc maximus nibh at placerat tincidunt. Nam sem lacus</p>
                                    <a href="#">REPLY</a>
                                </div>
                            </div>
                            <div class="media border-0">
                                <a href="#">
                                    <img src="{% static 'web/img/team/3.png'%}" alt="comment">
                                </a>
                                <div class="media-body">
                                    <h5>
                                        <a href="#">Aaron Holmes</a>
                                        <span class="date">25 July 2020</span>
                                    </h5>
                                    <p>Proin ac quam et lectus vestibulum blandit. Nunc maximus nibh at placerat tincidunt. Nam sem lacus, ornare non ante sed, ultricies</p>
                                    <a href="#">REPLY</a>
                                </div>
                            </div>
                        </div> 
                        <form class="blog-comment-form">
                            <div class="mb-3">
                                <h3 class="mb-0">Leave a Reply</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single-input-inner style-bg-border">
                                        <input type="text" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-input-inner style-bg-border">
                                        <input type="text" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="single-input-inner style-bg-border">
                                        <textarea placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-base">Post Comment</button>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- blog area end -->

    {% endblock %}