{% extends "web/partials/base.html" %}
{% load static %}
{% block content %}
    
    <!-- banner start -->
    <div class="banner-area banner-area-1 bg-gray">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-8 order-lg-12 align-self-center">
                    <div class="thumb b-animate-thumb">
                        <img src="{% static 'web/img/banner/1.png'%}" alt="img">
                    </div>
                </div>
                <div class="col-lg-7 order-lg-1 align-self-center">
                    <div class="banner-inner text-center text-lg-left mt-5 mt-lg-0">
                        <h6 class="b-animate-1 sub-title">DISCOVER RESEARCH</h6>
                        <h1 class="b-animate-2 title">A better learning future starts here</h1>
                        <a class="btn btn-base b-animate-3 mr-sm-3 mr-2" href="contact.html">Get A Quote</a>
                        <a class="btn btn-border-black b-animate-3" href="blog.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->   

    <!-- intro area start -->
    <div class="intro-area intro-area--top">
        <div class="container">
            <div class="intro-area-inner intro-home-1 bg-black">
                <div class="row no-gutters">
                    <div class="col-lg-4 text-lg-left text-center">
                        <div class="intro-title">
                            <h3>Vivamus maximus </h3>
                            <p>Lorem ipsum dolor sadipscing elitr, sed diam nonum</p>
                            <ul>
                                <li><i class="fa fa-check"></i> Nullam est </li>
                                <li><i class="fa fa-check"></i> Mattis dictum nunc  </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8 align-self-center">
                        <ul class="row no-gutters">
                            <li class="col-md-4">
                                <div class="single-intro-inner style-white text-center">
                                    <div class="thumb">
                                        <img src="{% static 'web/img/intro/1.png'%}" alt="img">
                                    </div>
                                    <div class="details">
                                        <h5>Postgraduate</h5>
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-4">
                                <div class="single-intro-inner style-white text-center">
                                    <div class="thumb">
                                        <img src="{% static 'web/img/intro/2.png'%}" alt="img">
                                    </div>
                                    <div class="details">
                                        <h5>Engineering</h5>
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-4">
                                <div class="single-intro-inner style-white text-center">
                                    <div class="thumb">
                                        <img src="{% static 'web/img/intro/3.png'%}" alt="img">
                                    </div>
                                    <div class="details">
                                        <h5>Accounting</h5>
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- intro area end -->

    <!-- about area start -->
    <div class="about-area pd-top-140">
        <div class="container">
            <div class="about-area-inner">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-thumb-wrap left-icon" style="background-image: url('{% static 'web/img/banner/2.png' %}');">
                            <div class="about-icon"><img src="{% static 'web/img/icon/4.png'%}" alt="img"></div>
                            <div class="bottom-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-inner-wrap pl-xl-4 pt-5 pt-lg-0 mt-5 mt-lg-0">  
                            <div class="section-title mb-0">
                                <h6 class="sub-title right-line">ABOUT US</h6>
                                <h2 class="title">Strength in Numbers</h2>
                                <p class="content">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph,</p>
                                <ul class="single-list-wrap">
                                    <li class="single-list-inner style-check-box-grid">
                                        <div class="media">
                                            <div class="media-left">
                                                <i class="fa fa-check"></i>
                                            </div>
                                            <div class="media-body">
                                                <h5>Ligula molestie</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="single-list-inner style-check-box-grid">
                                        <div class="media">
                                            <div class="media-left">
                                                <i class="fa fa-check"></i>
                                            </div>
                                            <div class="media-body">
                                                <h5>Ligula molestie</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end -->

    <!-- course area start -->
    <div class="course-area pd-top-100 pd-bottom-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 col-md-11">
                    <div class="section-title style-white text-center">
                        <h2 class="title">Top Featured Courses</h2>
                    </div>
                </div>
            </div>
            <div class="edmt-nav-tab style-white text-center">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Graphics & Design</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Digital Marketing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Writing & Translation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab4-tab" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false">Music & Audio</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                    <div class="row">
                        {% for c in course1 %}
                        <div class="col-lg-4 col-md-6">
                            <div class="single-course-inner">
                                <a href="{% url "course" %}">
                                <div class="thumb">
                                    <img src="{{c.image.url}}" alt="img">
                                </div>
                            </a>
                                <div class="details">
                                    <div class="details-inner">
                                        <div class="emt-user">
                                            <span class="u-thumb"><img src="{{c.image2.url}}" alt="img"></span>
                                            <span class="align-self-center">{{c.name}}</span>
                                        </div>
                                        <h6><a href="{% url "course" %}">{{c.course_name}}</a></h6>
                                    </div>
                                    <div class="emt-course-meta">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> 4.3
                                                    <span>(23)</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="price text-right">
                                                    Price: <span>${{c.price}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                    <div class="row">
                        {% for c in course2 %}
                        <div class="col-lg-4 col-md-6">
                            <div class="single-course-inner">
                                <a href="{% url "course" %}">
                                <div class="thumb">
                                    <img src="{{c.image.url}}" alt="img">
                                </div>
                            </a>
                                <div class="details">
                                    <div class="details-inner">
                                        <div class="emt-user">
                                            <span class="u-thumb"><img src="{{c.image2.url}}" alt="img"></span>
                                            <span class="align-self-center">{{c.name}}</span>
                                        </div>
                                        <h6><a href="{% url "course" %}">{{c.course_name}}</a></h6>
                                    </div>
                                    <div class="emt-course-meta">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> 4.3
                                                    <span>(23)</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="price text-right">
                                                    Price: <span>${{c.price}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                    <div class="row">
                        {% for c in course3 %}
                        <div class="col-lg-4 col-md-6">
                            <div class="single-course-inner">
                                <a href="{% url "course" %}"></a>
                                <div class="thumb">
                                    <img src="{{c.image.url}}" alt="img">
                                </div>
                            </a>
                                <div class="details">
                                    <div class="details-inner">
                                        <div class="emt-user">
                                            <span class="u-thumb"><img src="{{c.image2.url}}" alt="img"></span>
                                            <span class="align-self-center">{{c.name}}</span>
                                        </div>
                                        <h6><a href="{% url "course" %}">{{c.course_name}}</a></h6>
                                    </div>
                                    <div class="emt-course-meta">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> 4.3
                                                    <span>(23)</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="price text-right">
                                                    Price: <span>${{c.price}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                    <div class="row">
                        {% for c in course4 %}
                        <div class="col-lg-4 col-md-6">
                            <div class="single-course-inner">
                                <a href="{% url "course" %}">
                                <div class="thumb">
                                    <img src="{{c.image.url}}" alt="img">
                                </div>
                            </a>
                                <div class="details">
                                    <div class="details-inner">
                                        <div class="emt-user">
                                            <span class="u-thumb"><img src="{{c.image2.url}}" alt="img"></span>
                                            <span class="align-self-center">{{c.name}}</span>
                                        </div>
                                        <h6><a href="{% url "course" %}">{{c.course_name}}</a></h6>
                                    </div>
                                    <div class="emt-course-meta">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> 4.3
                                                    <span>(23)</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="price text-right">
                                                    Price: <span>${{c.price}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- course area End -->

    <!-- counter area start -->
    <div class="counter-area bg-gray">
        <div class="container">
            <div class="counter-area-inner pd-top-120 pd-bottom-120" style="background-image: url('{% static 'web/img/other/1.png'%}">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="section-title mb-0">
                            <h6 class="sub-title right-line">Funfact</h6>
                            <h2 class="title">Strength in Numbers</h2>
                            <p class="content pb-3">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy</p>
                            <div class="btn-counter bg-base mt-4">
                                <h3 class="left-val align-self-center"><span class="counter">2.4</span>k+</h3>
                                <div class="right-val align-self-center">
                                    Successful <br> students
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 align-self-center">
                        <ul class="single-list-wrap">
                            <li class="single-list-inner style-box-bg">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{% static 'web/img/icon/1.png'%}" alt="img">
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h5><span class="counter">1200</span>+</h5>
                                        <p>Learners & counting</p>
                                    </div>
                                </div>
                            </li>
                            <li class="single-list-inner style-box-bg">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{% static 'web/img/icon/2.png'%}" alt="img">
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h5><span class="counter">320</span>+</h5>
                                        <p>Total courses</p>
                                    </div>
                                </div>
                            </li>
                            <li class="single-list-inner style-box-bg">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{% static 'web/img/icon/3.png'%}" alt="img">
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h5><span class="counter">1340</span>+</h5>
                                        <p>Successful students</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter area end -->

    <!-- work area start -->
    <div class="work-area pd-top-110">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h6 class="sub-title right-line">What we do</h6>
                        <h2 class="title">How it works?</h2>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <p class="content mt-lg-0">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs when MTV ax quiz</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-intro-inner style-icon-bg bg-gray text-center">
                        <div class="thumb">
                            <img src="{% static 'web/img/icon/12.png'%}" alt="img">
                            <div class="intro-count">1</div>
                        </div>
                        <div class="details">
                            <h5>Team Details</h5>
                            <p>Ipsum yorem dolor amet sit  elit. Duis at est id leosco for it</p>
                            <a class="read-more-text" href="{% url "team" %}">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-intro-inner style-icon-bg bg-gray text-center">
                        <div class="thumb">
                            <img src="{% static 'web/img/icon/13.png'%}" alt="img">
                            <div class="intro-count">2</div>
                        </div>
                        <div class="details">
                            <h5>Select course</h5>
                            <p>Ipsum yorem dolor amet sit  elit. Duis at est id leosco for it</p>
                            <a class="read-more-text" href="{% url "course" %}">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-intro-inner style-icon-bg bg-gray text-center">
                        <div class="thumb">
                            <img src="{% static 'web/img/icon/14.png'%}" alt="img">
                            <div class="intro-count">3</div>
                        </div>
                        <div class="details">
                            <h5>Start Learning</h5>
                            <p>Ipsum yorem dolor amet sit  elit. Duis at est id leosco for it</p>
                            <a class="read-more-text" href="{% url "course" %}">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-intro-inner style-icon-bg bg-gray text-center">
                        <div class="thumb">
                            <img src="{% static 'web/img/icon/15.png'%}" alt="img">
                            <div class="intro-count">4</div>
                        </div>
                        <div class="details">
                            <h5>Get Certificate</h5>
                            <p>Ipsum yorem dolor amet sit  elit. Duis at est id leosco for it</p>
                            <a class="read-more-text" href="{% url "blog" %}">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- work area end -->

    <!-- testimonial area start -->
    <div class="testimonial-area pd-top-100">
        <div class="container">
            <div class="testimonial-area-inner bg-cover"  style="background-image: url('{% static 'web/img/other/2.png'%}">
                <img class="testimonial-right-img" src="{% static 'web/img/other/3.png'%}" alt="img">
                <div class="testimonial-slider owl-carousel">
                    <div class="item">
                        <div class="single-testimonial-inner style-white">
                            <span class="testimonial-quote"><i class="fa fa-quote-left"></i></span>
                            <p class="mb-4">Eugene Freeman sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, elitr, sed diam sed diam volu</p>
                            <div class="media testimonial-author">
                                <div class="media-left">
                                    <img src="{% static 'web/img/author/1.png'%}" alt="img">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <div class="media-body align-self-center">
                                    <h6>Eugene Freeman</h6>
                                    <p>Tincidunt</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-testimonial-inner style-white">
                            <span class="testimonial-quote"><i class="fa fa-quote-left"></i></span>
                            <p class="mb-4">Jaction Freeman amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed elitr, sed diam diam volu</p>
                            <div class="media testimonial-author">
                                <div class="media-left">
                                    <img src="{% static 'web/img/author/2.png'%}" alt="img">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <div class="media-body align-self-center">
                                    <h6>Jaction Freeman</h6>
                                    <p>Tincidunt</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial area end -->

    <!-- team area start -->
    <div class="team-area pd-top-110">
        <div class="container-fluid pl-4 pr-4">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7">
                    <div class="section-title text-center">
                        <h6 class="sub-title double-line">Meet Our Team</h6>
                        <h2 class="title">Our Creative Team</h2>
                    </div>
                </div>
            </div>
            <div class="team-slider owl-carousel">
                {% for t in teachers %}
<div class="item">
    <div class="single-team-inner">
        <div class="thumb">
            <img src="{{ t.image.url }}" alt="img">
            <div class="social-wrap">  
                <div class="social-wrap-inner">
                    <a class="social-share" href="#"><i class="fa fa-share-alt"></i></a>
                    <ul>
                        {% if t.social_accounts %}
                            <li><a href="{{ t.social_accounts.facebook }}"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="{{ t.social_accounts.twitter }}"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="{{ t.social_accounts.pinterest }}"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="{{ t.social_accounts.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
                        {% else %}
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="details"> 
            <h4><a href="{% url "team" %}">{{ t.name }}</a></h4>
            <span>{{ t.course_name }}</span>
        </div>  
    </div>
</div>
{% endfor %}
                
            </div>
        </div>
    </div>
    <!-- team area end -->

    <!--blog-area start-->
    <div class="blog-area pd-top-80 pd-bottom-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7">
                    <div class="section-title text-center">
                        <h6 class="sub-title double-line">Latest News</h6>
                        <h2 class="title">Our Insights & Articles</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <ul class="single-blog-list-wrap mb-5 mb-lg-0">
                        <li>
                            <div class="media single-blog-list-inner">
                                <div class="media-left date">
                                    <span>JAN</span>
                                    20
                                </div>
                                <div class="media-body details">
                                    <ul class="blog-meta">
                                        <li><i class="fa fa-user"></i> BY ADMIN</li>
                                        <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                                    </ul>
                                    <h5><a href="blog-details.html">Duis pretium gravida enim maximus</a></h5>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media single-blog-list-inner">
                                <div class="media-left date">
                                    <span>FEB</span>
                                    26
                                </div>
                                <div class="media-body details">
                                    <ul class="blog-meta">
                                        <li><i class="fa fa-user"></i> BY ADMIN</li>
                                        <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                                    </ul>
                                    <h5><a href="blog-details.html">Maecenas interdum lorem eleifend</a></h5>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media single-blog-list-inner">
                                <div class="media-left date">
                                    <span>JAN</span>
                                    28
                                </div>
                                <div class="media-body details">
                                    <ul class="blog-meta">
                                        <li><i class="fa fa-user"></i> BY ADMIN</li>
                                        <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                                    </ul>
                                    <h5><a href="blog-details.html">Nunc scelerisque tincidunt elit. </a></h5>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="single-blog-inner">
                                <div class="thumb">
                                    <img src="{% static 'web/img/blog/1.png'%}" alt="img">
                                    <span class="date">28 JANUARY, 2020</span>
                                </div>
                                <div class="details">
                                    <ul class="blog-meta">
                                        <li><i class="fa fa-user"></i> BY ADMIN</li>
                                        <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                                    </ul>
                                    <h5><a href="blog-details.html">Quisque suscipit ipsum est, eu venenatis leo</a></h5>
                                    <a class="read-more-text" href="blog-details.html">READ MORE <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-blog-inner">
                                <div class="thumb">
                                    <img src="{% static 'web/img/blog/2.png'%}" alt="img">
                                    <span class="date">28 JANUARY, 2020</span>
                                </div>
                                <div class="details">
                                    <ul class="blog-meta">
                                        <li><i class="fa fa-user"></i> BY ADMIN</li>
                                        <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                                    </ul>
                                    <h5><a href="blog-details.html">Maecenas interdu rem eleifend orci aliquam</a></h5>
                                    <a class="read-more-text" href="blog-details.html">READ MORE <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--blog-area end-->

    <!--contact-area start-->
    <div class="contact-area bg-overlay mt-200 pd-bottom-90" style="background-image: url('{% static 'web/img/banner/2.png'%}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <form class="contact-form-inner mt-mn-200 style-shadow">
                        <div class="section-title">
                            <h2 class="title">Request A Quote</h2>
                            <p>We will be happy to answer your questions.</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-input-inner">
                                    <input type="text" placeholder="Full name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-input-inner">
                                    <input type="text" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-input-inner">
                                    <input type="text" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-input-inner">
                                    <input type="text" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="single-input-inner">
                                    <textarea placeholder="Your Message"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6 align-self-center">
                                <div class="single-input-inner style-checkbox">
                                    <input type="checkbox">
                                    Also subscribe us
                                </div>
                            </div>
                            <div class="col-sm-6 text-sm-right">
                                <a class="btn btn-base" href="#">Send Message</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 align-self-end">
                    <div class="mt-5 mt-lg-0">
                        <ul class="single-list-wrap">
                            <li class="single-list-inner style-white style-check-box-grid-2">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{% static 'web/img/icon/16.png'%}" alt="img">
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h5>Our Address</h5>
                                        <p>PSD Building, 2 AlBahr</p>
                                        <p>St, Loskia sripur</p>
                                    </div>
                                </div>
                            </li>
                            <li class="single-list-inner style-white style-check-box-grid-2">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{% static 'web/img/icon/17.png'%}" alt="img">
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h5>Our Phone</h5>
                                        <p>+0029129102320</p>
                                        <p>+000 2324 39493</p>
                                    </div>
                                </div>
                            </li>
                            <li class="single-list-inner style-white style-check-box-grid-2">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{% static 'web/img/icon/18.png'%}" alt="img">
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h5>Our Email</h5>
                                        <p><a href="https://solverwp.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fe909f939bbe899b9c8d978a9bd09d9193">[email&#160;protected]</a></p>
                                        <p><a href="https://solverwp.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b9f0d7dfd6f9d6cbdcc197dad6d4">[email&#160;protected]</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--contact-area end-->

  {% endblock %}